<div class="treggo-container">
	<a target="_blank" class="banner" href="https://treggo.co/">
		<img src="@LOGO">
	</a>

	<p>Ya instalaste el plugin de Treggo para esta tienda.</p>
	<p>Para completar el proceso de alta, podés acceder desde el correo que enviamos a @EMAIL y terminar el proceso de registro.</p>

	<p><b>No podrás utilizar este método de envío hasta que haya un acuerdo comercial sobre las coberturas.</b></p>

	<p>Para personalizar este módulo a tu preferencia, presioná el botón a continuación:<!-- la <a href="@SETTINGS">configuración del plugin</a>.--></p>

	<a class="button" href="@SETTINGS">CONFIGURACIÓN DEL PLUGIN</a>

	<img class="footer" src="@BAR">
</div>
