<div class="treggo-container">
	<a href="https://treggo.co/">
		<img class="banner" src="http://cdn.mcauto-images-production.sendgrid.net/2947b96924c97e08/a9f0efcb-0813-4ff6-bd16-02e0ea6c272f/1354x264.png">
	</a>

	<p>Ya instalaste el plugin de Treggo para esta tienda.</p>
	<p>Para completar el proceso de alta, podés acceder desde el correo que enviamos a @EMAIL y terminar el proceso de registro.</p>

	<p><b>No podrás utilizar este método de envío hasta que haya un acuerdo comercial sobre las coberturas.</b></p>

	<p>Para personalizar este módulo a tu preferencia, presioná el botón a continuación:<!-- la <a href="@SETTINGS">configuración del plugin</a>.--></p>

	<a class="button" href="@SETTINGS">CONFIGURACIÓN DEL PLUGIN</a>

	<img class="footer" src="http://cdn.mcauto-images-production.sendgrid.net/2947b96924c97e08/4a64c715-c400-4e61-ad18-ee96a5c5edf8/166x14.png">
</div>
